venv
.vscode
*.sqlite3
*.db
.evn
*.pyc
*.pyo
*.pyd
virtual
venv
pretemplates
__pycache__
try.html
a.txt
try.css
try.js
pipfile
pipfile.lock
Pipfile.lock
.dockerignore
README.Docker.md
compose.yaml
Dockerfile