/* ---------------------------------- FONT ---------------------------------- */
/* @font-family-sans: 'Open Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap");

* {
  font-family: "Fira Sans Condensed", sans-serif;
}

/* ---------------------------- CUSTOM SCROLLBAR ---------------------------- */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #025b52;
  border-radius: 50px;
  height: 20px;
}

::-webkit-scrollbar-thumb :hover {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  height: 100%;
  width: 100%;
}

/* ---------------------------- MAIN PAGE CONTENT --------------------------- */
.page-content {
  padding-top: 60px;
}

/* --------------------------------- HEADER --------------------------------- */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

a {
  color: #025b52;
}

/* ------------------------------- TOP BAR DIV ------------------------------ */
.logo {
  /* width: 1.5vmax; */
  width: 1.2em;
}

.top-bar {
  background-color: #025b52;
  color: white;
  height: 60px;
  padding: 0 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-top-bar {
  display: flex;
  gap: 2vw;
  font-size: 1.3vw;
}

.right-top-bar {
  display: flex;
  gap: 1.2vw;
}

/* ------------------------------- Navbar Div ------------------------------- */

nav {
  background-color: transparent;
  width: 75%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45px;
  justify-content: center;
}

.navbar-div {
  width: 100%;
  padding: 1vw 2vw;
  background-color: rgb(255, 255, 255);
}

.nav-tabs {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 1vw;
  font-size: 1.2vw;
  font-weight: 1000;
}

.nav-tabs li {
  height: 100%;
}

.nav-tabs a {
  height: 100%;
}

.nav-tabs li a:hover {
  font-size: 1.3vw;
  transition: 0.4s;
}

#LoginBtn {
  background-color: #025b52;
  color: white;
  padding: 0.4vw 1.3vw;
  border: none;
  border-radius: 0.7vw;
}
