{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static './css/base.css' %}" />
  <link rel="icon" href="{% static 'D:\Trustroot_Network\public\static\images\favicon.ico' %}">
  {% block css %} {% endblock %}
</head>

<body>
  <div id="main" class="main">
    <header>
      <nav>
        <div class="navbar-div">
          <ul class="nav-tabs">
            <li>
              <img width="40vw" src="{% static 'images/trn_logo.png' %}" alt="logo" />
            </li>
            <li><a href="{% url 'base:homePage' %}">Home</a></li>
            <!-- <li><a href="{% url 'base:homePage' %}" id="about-link">About</a></li> -->
            <li><a id="about-link" href="#about-us">About</a></li>
            <li><a href="#">Funders</a></li>
            <li><a href="{% url 'base:grassrootPage' %}">Grassroots</a></li>
            <li><a href="{% url 'base:homePage' %}" id="work-with-us-link">Work with us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{% url 'base:faq_page' %}" id="faq">FAQs</a></li>
            <!-- <li><a href="{% url 'accounts:register_user' %}">AJAX</a></li> -->
            {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:logout_user' %}"><img width="35vw"
                  src="{% static 'images/profile-icon.svg' %}" alt=""></a>{{ request.user.username }}</li>
            {% else %}
            <li><a id="login-signup-btn" href="javascript:void(0);">Login/SignUp</a></li>
            {% endif %}

          </ul>
        </div>
      </nav>
    </header>

    <div id=" page-content" class="page-content">
      {% block body %} {% endblock %}
    </div>
  </div>

  <!-- ------------------------------ MODAL DIV ------------------------------- -->
  <div id="outer-form-div">
    <div class="center-container" id="inner-form-div"></div>
  </div>
  </div>

  {% block script %} {% endblock %}
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/auth_form.js' %}"></script>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        var aboutLink = document.getElementById("about-link");
        aboutLink.addEventListener("click", function (event) {
          event.preventDefault(); // Prevent the default behavior of the anchor tag
          var aboutSection = document.getElementById("about-us");
          aboutSection.scrollIntoView({ behavior: "smooth", block: "start" });
        });
      });
    $("#login-signup-btn").click(function () {
      $.ajax({
        url: "/authforms/",
        type: "GET",
        success: function (data) {
          $("#inner-form-div").html(data);
        },
        error: function (error) {
          console.error("Error:", error);
        },
      });
    });
  </script>
</body>

</html>