{% extends "base.html" %} {% load static %}

<!-- ----------------------------- Title Block ----------------------------- -->
{% block title %} HOME {% endblock %}

<!-- ------------------------------ CSS Block ------------------------------ -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

<!-- ----------------------------- Body Block ------------------------------ -->
{% block body %}

<img class="main-image" src="{% static 'images/grassroot.jpg' %}" alt="" />
<br /><br /><br />

<h1 class="head">ABOUT US</h1>
<p class="content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusamus
  aspernatur perferendis expedita minus nemo magni neque, odit doloremque ipsam
  cupiditate at similique odio soluta consectetur, veniam ex consequatur non
  eius quibusdam ad quos? Iure voluptate voluptatum modi, temporibus neque
  eligendi tempore veniam recusandae nihil ex facere quasi. Quas facere iure
  perferendis eveniet consectetur magnam animi excepturi, reprehenderit, esse
  non neque adipisci laboriosam? Vitae modi, exercitationem autem commodi ipsa
  numquam deleniti beatae fuga quia cupiditate porro odio, est sequi quibusdam
  illo debitis, sapiente nemo totam eos expedita dolore quam quo perferendis
  maiores! Impedit doloremque iusto odit vitae earum fugit dolore architecto
  magni modi amet fugiat saepe excepturi ad animi hic nihil, esse nemo aperiam
  assumenda, corrupti delectus veniam et temporibus
</p>
<br /><br />
<h1 class="head">VALUE</h1>
<p class="content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusamus
  aspernatur perferendis expedita minus nemo magni neque, odit doloremque ipsam
  cupiditate at similique odio soluta consectetur, veniam ex consequatur non
  eius quibusdam ad quos? Iure voluptate voluptatum modi, temporibus neque
  eligendi tempore veniam recusandae nihil ex facere quasi. Quas facere iure
  perferendis eveniet consectetur magnam animi excepturi, reprehenderit, esse
  non neque adipisci laboriosam? Vitae modi, exercitationem autem commodi ipsa
  numquam deleniti beatae fuga quia cupiditate porro odio, est sequi quibusdam
  illo debitis, sapiente nemo totam eos expedita dolore quam quo perferendis
  maiores! Impedit doloremque iusto odit vitae earum fugit dolore architecto
  magni modi amet fugiat saepe excepturi ad animi hic nihil, esse nemo aperiam
  assumenda, corrupti delectus veniam et temporibus
</p>
<br /><br />
<h1 class="head">MISSION</h1>
<p class="content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusamus
  aspernatur perferendis expedita minus nemo magni neque, odit doloremque ipsam
  cupiditate at similique odio soluta consectetur, veniam ex consequatur non
  eius quibusdam ad quos? Iure voluptate voluptatum modi, temporibus neque
  eligendi tempore veniam recusandae nihil ex facere quasi. Quas facere iure
  perferendis eveniet consectetur magnam animi excepturi, reprehenderit, esse
  non neque adipisci laboriosam? Vitae modi, exercitationem autem commodi ipsa
  numquam deleniti beatae fuga quia cupiditate porro odio, est sequi quibusdam
  illo debitis, sapiente nemo totam eos expedita dolore quam quo perferendis
  maiores! Impedit doloremque iusto odit vitae earum fugit dolore architecto
  magni modi amet fugiat saepe excepturi ad animi hic nihil, esse nemo aperiam
  assumenda, corrupti delectus veniam et temporibus
</p>
<br /><br />
<h1 class="head">JOURNEY OF TRUSTROOTS</h1>
<p class="content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusamus
  aspernatur perferendis expedita minus nemo magni neque, odit doloremque ipsam
  cupiditate at similique odio soluta consectetur, veniam ex consequatur non
  eius quibusdam ad quos? Iure voluptate voluptatum modi, temporibus neque
  eligendi tempore veniam recusandae nihil ex facere quasi. Quas facere iure
  perferendis eveniet consectetur magnam animi excepturi, reprehenderit, esse
  non neque adipisci laboriosam? Vitae modi, exercitationem autem commodi ipsa
  numquam deleniti beatae fuga quia cupiditate porro odio, est sequi quibusdam
  illo debitis, sapiente nemo totam eos expedita dolore quam quo perferendis
  maiores! Impedit doloremque iusto odit vitae earum fugit dolore architecto
  magni modi amet fugiat saepe excepturi ad animi hic nihil, esse nemo aperiam
  assumenda, corrupti delectus veniam et temporibus
</p>
<br /><br />

{% endblock %}

<!-- ---------------------------- Script block ----------------------------- -->
{% block script %} {% endblock %}
